.clients{
    background-color: #F6F6F6;
}
.client{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}
.client img{
    width: auto;
    height: 105px;
    object-fit: contain;
}
@media (min-width: 550px) and ( max-width: 770px) {
    .clients_mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .clients_mobile~img{
        height: 87  px;
    }
    .client{
        padding-left: 12px ;
        padding-right: 12px;
        
    }
}
@media (max-width: 550px) {
    .clients_mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .clients_mobile~img{
        height: 52px;
    }
    .client{
        padding-left: 12px ;
        padding-right: 12px;
        
    }
}