.header_container_gallery{
    margin-top: 67px;
    margin-bottom: 60px;
}
.header_caption_gallery{
    line-height: 1.1;
    font-size: 70px;
    font-weight: 600;
    position: absolute;
    top: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF !important;
}
.header_container_hero .header_spiral{
    /* height: 636px; */
}
.header_container_hero .header_img{
    /* height: 636px; */
    object-fit: contain;
}
.header_caption_hero{
    line-height: 1.1;
    font-size: 114.5px;
    font-weight: bold;
    color: #0C1F35;
    text-align: center;
    position: absolute;
    /* top: 162px; */
    top: 24.3%;
    width: 100%;
}
.btn_container{
    text-align: center;
    position: absolute;
    width: 100%;
    /* bottom: 76px; */
    bottom: 19.7%;
}
.btn_contact{
    background-color: #E85353;
    border-radius: 60px;
    padding: 8px 22px;
    color: #FFFFFF;
    font-size: 15px;
    border: 0;
    cursor: pointer;
}
@media (min-width: 550px) and ( max-width: 770px) {
    .header_caption_gallery{
        font-size: 42px !important;
    }
    .header_container_hero {
        margin: 0 !important;
    }
    .header_caption_hero{
        top: 76px !important;
    }
    .btn_container{
        position: absolute !important;
        bottom: 43px;
        margin: 0 !important;
    }
}
@media (max-width: 770px) {
    .header_container_hero .header_img,
    .header_container_hero .header_spiral{
        height: auto;
    }
    .header_container_gallery {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .header_caption_gallery{
        font-size: 22px;
    }
    .header_caption_hero{
        font-size: 65.3px;
    }
    .header_container_hero {
        margin-top: 38px;
        margin-bottom: 50px;
    }
    .btn_container{
        position: static;
        margin-bottom: 60px;
    }
}
