.layout_one_img_position{
    position: absolute;
    right: 0;
    width: 56.333333%;
}
.layout_one_heading{
    line-height: 1.1;
    font-size: 40px;
    font-weight: bold;
}
.layout_one_heading+div{
    font-size: 14px;
}
.layout_one_container{
    color: #FFFF;
    padding: 55px 0px 48px 0;
    max-width: 344px;
}
.layout_one_content{
    padding: 25px 0 32px 0;
}
@media (min-width: 550px) and ( max-width: 770px) {
    .layout_one_container{
        max-width: 520px !important;
    }
}
@media (max-width: 770px) {
    .layout_one_img_position{
        position: static;
        width: 100%;
    }
    .layout_one_container{
        max-width: 280px;
    }
    .layout_one_row{
        justify-content: center;
        text-align: center;
        flex-wrap: wrap-reverse;
    }
}