.modal_container{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}
.modal_progress{
    margin-top: 100px;
    width: 600px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0px rgb(0 0 0 / 10%);
    border-radius: 20px;
}
.close_modal{
    position: absolute;
    right: 0;
    margin: 20px;
    border: none;
    background: transparent;
    font-size: 30px;
    padding: 0;
    line-height: 0.8;
}
.loading_img{
    width: 200px;
    display: block;
    margin: auto;
}