.review{
    margin-top: 200px;
}
.review_line{
    border-bottom: 4px solid #FD8814;
    position: absolute;
    width: 250px;
    top: 52%;
    right: 100%;
    z-index: 1;
}
.client_name{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #E85353;
    margin-bottom: 28px;
}
.carousel{
    padding: 0;
}
.carousel-inner{
    padding: 40px 90px;
    font-size: 14px;
    box-shadow: 0 8px 50px #ebebeb;
}
.carousel-item{
    height: 210px;
}
.navigate{
    color: #0C1F35;
}