.form_upload *{
    font-size: 14px;
}
.highlight{
    font-weight: 600;
    font-size: 22px;
}
.form-control:disabled,
.form-control:read-only{
    background-color: #fff;
}
.form-control:focus{
    color: #212529;
    border: 1px solid #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0;
}
.image_one{
    padding: 0 65px;
    border: 1px solid #ced4da;
}
.image{
    border: 1px solid #ced4da;
    padding: 43px 10px;
}
.upload_file_container{
    border: 1px solid #ced4da;
    padding: 20px;
}
.upload_file>div:last-child{
    margin-bottom: 0 !important;
}
.demo_project_name{
    border: 1px solid #ced4da;
    padding: 10px;
    text-align: center;
}
